public/n8n-push-notifications.workflow.json
{"name":"ReFind Inbox - Push Notifications","nodes":[{"parameters":{"httpMethod":"POST","path":"push-subscribe","responseMode":"responseNode","options":{}},"id":"9c2d274e-032d-49d4-9739-4eb23c88e148","name":"Push Subscribe","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-760,-120],"webhookId":"9c2d274e-032d-49d4-9739-4eb23c88e148"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst incoming = $input.first().json;\nconst body = incoming.body || incoming;\nconst subscription = body.subscription || body;\n\nif (!subscription?.endpoint || !subscription?.keys?.p256dh || !subscription?.keys?.auth) {\n  throw new Error('Missing push subscription endpoint or keys.');\n}\n\nstaticData.subscriptions = Array.isArray(staticData.subscriptions) ? staticData.subscriptions : [];\n\nconst existingIndex = staticData.subscriptions.findIndex((saved) => saved.subscription?.endpoint === subscription.endpoint);\nconst savedSubscription = {\n  subscription,\n  userAgent: body.userAgent || incoming.headers?.['user-agent'] || null,\n  appUrl: body.appUrl || null,\n  updatedAt: new Date().toISOString(),\n};\n\nif (existingIndex >= 0) {\n  staticData.subscriptions[existingIndex] = {\n    ...staticData.subscriptions[existingIndex],\n    ...savedSubscription,\n  };\n} else {\n  staticData.subscriptions.push({\n    ...savedSubscription,\n    createdAt: new Date().toISOString(),\n  });\n}\n\nreturn [{ json: { ok: true, saved: true, subscriptions: staticData.subscriptions.length } }];"},"id":"64fbfe4a-8638-4ec8-a372-6b43cf5fbc55","name":"Store Subscription","type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,-120]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"id":"ed8c9aac-5c9f-4a05-8bff-7b45f6e086e1","name":"Subscription Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-240,-120]},{"parameters":{"httpMethod":"POST","path":"send-push","responseMode":"responseNode","options":{}},"id":"5961bd83-3d53-4ed6-8658-24da37dd2f17","name":"Send Push","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-760,180],"webhookId":"5961bd83-3d53-4ed6-8658-24da37dd2f17"},{"parameters":{"jsCode":"const VAPID_PUBLIC_KEY = 'BOgNDXzC0mNLDzz-D_IxjYrBh4jEtQ-Mh87iw9IIeJWg3--CS9pU5TJVWjDH35tXNzNm25hwd_mnOmdAIElaySI';\nconst VAPID_PRIVATE_KEY = 'PASTE_VAPID_PRIVATE_KEY_HERE';\nconst SEND_SECRET = 'PASTE_SEND_SECRET_HERE';\nconst SUBJECT = 'mailto:tom@refindcommerce.com';\n\nconst incoming = $input.first().json;\nconst body = incoming.body || {};\nconst headers = incoming.headers || {};\nconst suppliedSecret = body.secret || headers['x-refind-push-secret'] || headers['X-ReFind-Push-Secret'];\n\nif (!SEND_SECRET || SEND_SECRET === 'PASTE_SEND_SECRET_HERE' || suppliedSecret !== SEND_SECRET) {\n  throw new Error('Invalid push secret.');\n}\n\nif (!VAPID_PRIVATE_KEY || VAPID_PRIVATE_KEY === 'PASTE_VAPID_PRIVATE_KEY_HERE') {\n  throw new Error('Add the VAPID private key to this Code node before activating.');\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst subscriptions = Array.isArray(staticData.subscriptions) ? staticData.subscriptions : [];\n\nif (!subscriptions.length) {\n  return [{ json: { ok: true, sent: 0, reason: 'No push subscriptions saved yet.' } }];\n}\n\nfunction base64UrlToBytes(value) {\n  const base64 = `${value}${'='.repeat((4 - (value.length % 4)) % 4)}`.replace(/-/g, '+').replace(/_/g, '/');\n  return Uint8Array.from(Buffer.from(base64, 'base64'));\n}\n\nfunction bytesToBase64Url(bytes) {\n  return Buffer.from(bytes).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nfunction textToBase64Url(value) {\n  return bytesToBase64Url(Buffer.from(value));\n}\n\nconst webcrypto = globalThis.crypto?.subtle\n  ? globalThis.crypto\n  : require('crypto').webcrypto;\n\nasync function createVapidJwt(audience) {\n  const publicBytes = base64UrlToBytes(VAPID_PUBLIC_KEY);\n  const privateKey = await webcrypto.subtle.importKey(\n    'jwk',\n    {\n      kty: 'EC',\n      crv: 'P-256',\n      x: bytesToBase64Url(publicBytes.slice(1, 33)),\n      y: bytesToBase64Url(publicBytes.slice(33, 65)),\n      d: VAPID_PRIVATE_KEY,\n      ext: true,\n    },\n    { name: 'ECDSA', namedCurve: 'P-256' },\n    false,\n    ['sign']\n  );\n\n  const header = textToBase64Url(JSON.stringify({ typ: 'JWT', alg: 'ES256' }));\n  const payload = textToBase64Url(JSON.stringify({\n    aud: audience,\n    exp: Math.floor(Date.now() / 1000) + 12 * 60 * 60,\n    sub: SUBJECT,\n  }));\n  const unsignedToken = `${header}.${payload}`;\n  const signature = await webcrypto.subtle.sign(\n    { name: 'ECDSA', hash: 'SHA-256' },\n    privateKey,\n    Buffer.from(unsignedToken)\n  );\n\n  return `${unsignedToken}.${bytesToBase64Url(new Uint8Array(signature))}`;\n}\n\nconst items = [];\nconst expiredEndpoints = new Set();\n\nfor (const saved of subscriptions) {\n  const endpoint = saved.subscription?.endpoint;\n  if (!endpoint) continue;\n\n  const audience = new URL(endpoint).origin;\n  const token = await createVapidJwt(audience);\n  items.push({\n    json: {\n      endpoint,\n      ttl: '2419200',\n      authorization: `vapid t=${token}, k=${VAPID_PUBLIC_KEY}`,\n    },\n  });\n}\n\nstaticData.lastPushAttemptAt = new Date().toISOString();\nstaticData.expiredEndpoints = [...expiredEndpoints];\n\nreturn items;"},"id":"59d5df48-e0dc-4779-9283-d8b97fad04cc","name":"Build Push Requests","type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,180],"notes":"Before activating, replace PASTE_VAPID_PRIVATE_KEY_HERE and PASTE_SEND_SECRET_HERE. This sends empty Web Push payloads; the app service worker displays the default 'New customer message' notification."},{"parameters":{"method":"POST","url":"={{ $json.endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"TTL","value":"={{ $json.ttl }}"},{"name":"Authorization","value":"={{ $json.authorization }}"},{"name":"Content-Length","value":"0"}]},"options":{"ignoreResponseCode":true,"timeout":10000}},"id":"61d30e97-1db0-40dd-8842-0d2dba1bd75d","name":"Send Web Push","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,180]},{"parameters":{"jsCode":"const responses = $input.all();\nreturn [{ json: { ok: true, attempted: responses.length } }];"},"id":"22d17f41-668a-495c-8470-87124dd8a256","name":"Summarise Push Sends","type":"n8n-nodes-base.code","typeVersion":2,"position":[40,180]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"id":"c29e2636-179a-4481-8c1a-dd305fa7d352","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[300,180]}],"pinData":{},"connections":{"Push Subscribe":{"main":[[{"node":"Store Subscription","type":"main","index":0}]]},"Store Subscription":{"main":[[{"node":"Subscription Response","type":"main","index":0}]]},"Send Push":{"main":[[{"node":"Build Push Requests","type":"main","index":0}]]},"Build Push Requests":{"main":[[{"node":"Send Web Push","type":"main","index":0}]]},"Send Web Push":{"main":[[{"node":"Summarise Push Sends","type":"main","index":0}]]},"Summarise Push Sends":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"d7d66fb5-944b-4d1b-a6ef-f2ac3db89385","meta":{"templateCredsSetupCompleted":true},"id":"refind-push-notifications","tags":[]}